<%- include("partials/header.ejs") %>

<section class="create-section">
  <div class="form-container">
    <h2>Create new post</h2>
    <form action="/submit" method="post">
      <div>
        <label for="title">Title</label>
        <input id="title" name="title" type="text" maxlength="50" required />
      </div>

      <div>
        <label for="description">Description</label>

        <textarea
          id="description"
          name="description"
          type="text"
          maxlength="640"
          required
        ></textarea>
      </div>

      <div>
        <label for="image">Image</label>
        <input
          type="file"
          accept="image/png, image/jpeg, image/jpg"
          name="image"
          id="image"
          required
        />
      </div>

      <div>
        <input class="submit-button" type="submit" value="Post" />
      </div>
    </form>
  </div>
</section>

<%- include("partials/footer.ejs") %>
