<%- include("partials/header.ejs") %>

<main>
  <div class="post">
    <div class="post-container">
      <div class="post-desc">
        <img src="images/img.jpg" alt="Some image" />
        <h3>Post</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero omnis,
          aperiam ut amet voluptate, doloribus sit nostrum aspernatur in esse
          maiores inventore!
        </p>
      </div>
      <div class="post-additional">
        <p>Jan 01 2000</p>
        <a href="#">See more ➡️</a>
      </div>
    </div>
  </div>

  <div class="post">
    <div class="post-container">
      <div class="post-desc">
        <img src="images/img.jpg" alt="Some image" />
        <h3>Post</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero omnis,
          aperiam ut amet voluptate, doloribus sit nostrum aspernatur in esse
          maiores inventore!
        </p>
      </div>
      <div class="post-additional">
        <p>Jan 01 2000</p>
        <a href="#">See more ➡️</a>
      </div>
    </div>
  </div>

  <div class="post">
    <div class="post-container">
      <div class="post-desc">
        <img src="images/img.jpg" alt="Some image" />
        <h3>Post</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero omnis,
          aperiam ut amet voluptate, doloribus sit nostrum aspernatur in esse
          maiores inventore!
        </p>
      </div>
      <div class="post-additional">
        <p>Jan 01 2000</p>
        <a href="#">See more ➡️</a>
      </div>
    </div>
  </div>
</main>

<%- include("partials/footer.ejs") %>
